.button {
    background-color: #0098FF;
	color: white;
	border-radius: 5px;
	margin: auto;
	width: 200px;
	font-size: 24px;
	font-family: Arial;
	text-align: center;
	margin-top: 20px;
	display: inline-block;
}
#main {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box {
	display:inline-block;
}

.selectors {
	display:inline-block;
	margin-left: 20px;
}

#form {
	
}

.container {
	display: block;
}

#misc {
	margin-left: 0px;
}